.container{
    text-align: center;
    .form{
        margin: 10px;
        label{
            display: block;
        }
        input[type="text"], textarea{
            min-height: 30px;
            width: 100%;
            border: 1px solid #aaa;
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 20px;
        }
        
    }
    
}